---
  - name: Installing the Client Tools
    hosts: localhost
    roles:
      - client-tools  

  - name: Nodes bootstrap
    hosts: all
    roles:
      - nodes-bootstrap

  - name: Provisioning a CA and Generating TLS Certificates
    hosts: localhost
    roles:
      - certificate-authority

  - name: Distributing Client Certificates for Workers
    hosts: workers
    roles:
      - role: artifact-deployer
        items:
          - "{{ cert_path }}/ca.pem"
          - "{{ cert_path }}/{{ ansible_nodename }}-key.pem"
          - "{{ cert_path }}/{{ ansible_nodename }}.pem"

  - name: Distributing Client Certificates for Controllers
    hosts: controllers
    roles:
      - role: artifact-deployer
        items:
          - "{{ cert_path }}/ca.pem"
          - "{{ cert_path }}/ca-key.pem"
          - "{{ cert_path }}/kubernetes-key.pem"
          - "{{ cert_path }}/kubernetes.pem"

  - name: Kubernetes Configuration Files for Authentication
    hosts: localhost
    roles:
      - authentication-configs

  - name: Distributing the Kubernetes Configuration Files
    hosts: workers
    roles:
      - role: artifact-deployer
        items:
          - "{{ kubeconfig_path }}/{{ ansible_nodename }}.kubeconfig"
          - "{{ kubeconfig_path }}/kube-proxy.kubeconfig"

  - name: Generating the Data Encryption Config and Key
    hosts: localhost
    roles:
      - data-encryption

  - name: Distributing the Data Encryption Config and Key
    hosts: controllers
    roles:
      - role: artifact-deployer
        items:
          - "{{ encryption_path }}/encryption-config.yaml"

  - name: Bootstrapping the etcd Cluster
    hosts: controllers
    roles:
      - etcd

  - name: Installing Kubernetes control plane
    hosts: controllers
    roles:
      - kube-control-plane

  - name: RBAC for Kubelet Authorization
    hosts: controllers[2]
    roles:
      - kube-control-plane-kubelet-rbac-auth

  - name: Opening firewall port for Controllers
    hosts: controllers
    roles:
      - lb-controllers-firewall

  - name: Installing Kubernetes API load balancer
    hosts: lb
    roles:
      - lb

  - name: Bootstrapping the Kubernetes Worker nodes
    hosts: workers
    roles:
      - worker-nodes-bootstrap
  
  - name: Verification of Kubernetes Worker nodes
    hosts: controllers[2]
    roles:
      - worker-nodes-bootstrap-verification
