[lb]
lb ansible_host=10.0.0.125 ansible_user=vagrant ansible_ssh_private_key_file=./.vagrant/machines/lb/virtualbox/private_key

[controllers]
controller1 ansible_host=10.0.0.1 ansible_user=vagrant ansible_ssh_private_key_file=./.vagrant/machines/controller1/virtualbox/private_key
controller2 ansible_host=10.0.0.2 ansible_user=vagrant ansible_ssh_private_key_file=./.vagrant/machines/controller2/virtualbox/private_key
controller3 ansible_host=10.0.0.3 ansible_user=vagrant ansible_ssh_private_key_file=./.vagrant/machines/controller3/virtualbox/private_key

[workers]
worker1 ansible_host=10.0.0.1 ansible_user=vagrant ansible_ssh_private_key_file=./.vagrant/machines/worker1/virtualbox/private_key
worker2 ansible_host=10.0.0.2 ansible_user=vagrant ansible_ssh_private_key_file=./.vagrant/machines/worker2/virtualbox/private_key