{
  "CN": "Kubernetes",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ country|default('US') }}",
      "L": "{{ city|default('Portland') }}",
      "O": "Kubernetes",
      "OU": "CA",
      "ST": "{{ state|default('Oregon') }}"
    }
  ]
}
