{
  "CN": "system:node:{{ item }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ country|default('US') }}",
      "L": "{{ city|default('Portland') }}",
      "O": "system:nodes",
      "OU": "{{ organization_unit|default('Kubernetes The Ansible Way') }}",
      "ST": "{{ state|default('Oregon') }}"
    }
  ]
}
