upstream kube-api {
{% for host in groups['controllers'] %}
    server {{ hostvars[host]['ansible_host'] }}:6443;
{% endfor %}
}

server {
    listen 6443;
    
    ssl on;
    ssl_certificate     /root/kubernetes.pem;
    ssl_certificate_key /root/kubernetes-key.pem;

    location / {
        proxy_pass https://kube-api;
    }
}
